.noticiasOutras{
    .noticiasOutras__cards{
        @extend %cards;
        width: 30%;
        height: 90vh;
        .noticiasOutras__img{
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
                margin-bottom: 2rem;
            }
        }
        .noticiasOutras__cards__texto{
            font-size: 1.2rem;
            padding: 1rem 0;
        }
    }
}

.noticiasOutras--bg{
    background-color: $color-primary-light;
    // height: 60vh;
    padding: 2rem 0;
}