.projetos{
    text-align: center;
    .projetosCards{
        width: 30%;
        height: 50rem;
        text-align: left;
        margin-top: 2rem;
        @media(max-width: $tablet-ver){
            width: 100%;
            height: 40rem;
        }
        @media (max-width: $mobile){
            width: 90%;
            height: 50rem;
        }
        
    }

    .projetosCards--margin{

        @media(max-width: $mobile){
            margin-top: -6rem;
        }
    }
}
    .imgCards{
        width: 100%;
        height: 40%;
        margin-bottom: 3rem;
        object-fit: cover;
    }
    .containerImg{
        text-align: center;
        width:40%;
        margin: 0 auto;
    }

    .imgCards--mico{
        height: 150px;
        margin-bottom: 1rem;
    }

    .projetosCardsTitulo{
        color:  $color-primary-dark;
        font-size: $font-size-text;
        font-family: $font-title;
        font-weight: bold;
        text-align: left;
    }
    .projetosBtn{
        margin: 0 auto;
        width: 25%;
        @include button($font-size-text, 0.5rem, 0.5rem, $color-primary-dark, $white);    
    }


