.projetos{
    .projetosCards{
        width: 30%;
        @media(max-width: $tablet-ver){
            width: 100%;
        }
        @media (max-width: $mobile){
            width: 90%;
        }
        
    }
    .imgCards{
        width: 100%;
        border-radius: 100%;
        // border: 0.1rem solid $color-black;
        object-fit: cover;
    }
    .containerImg{
        text-align: center;
        width:40%;
        margin: 0 auto;
    }
}   

